[submodule "packages/thoughtd-rpc"]
	path = packages/thoughtd-rpc
	url = https://github.com/GMinney/thoughtd-rpc.git
[submodule "packages/crypto-rpc"]
	path = packages/crypto-rpc
	url = https://github.com/GMinney/crypto-rpc.git
